### Sum of the first nth term of Series - 7kyu

https://www.codewars.com/kata/555eded1ad94b00403000071/python

In [4]:
def series_sum(n):
    cache = 0
    d = 1
    for _ in range(n):
        cache += 1 / d
        d += 3
    return f"{cache:.2f}"
    return "{:.2f}".format(cache)
    return "%.2f" % cache
    # TODO esto seria el equivalente a "{}.2f".format(sum)


print(series_sum(4))

1.49

In [2]:
def series_num1(n):
    return f"{sum([1/(3*i+1) for i in range(n)]):.2f}"


print(series_num1(5))

1.57

In [3]:
def series_sum2(n):
    return "{:.2f}".format(sum(1.0 / (3 * i + 1) for i in range(n)))